# Neon PostgreSQL Connection String
DATABASE_URL="postgresql://user:password@endpoint.neon.tech/dbname?sslmode=require"

# NextAuth Configuration
# Run `openssl rand -base64 32` in terminal to generate a strong secret
NEXTAUTH_SECRET="ganti_dengan_secret_yang_kuat"

# URL Utama Website Anda (Contoh: https://n4rz-studio.vercel.app atau http://localhost:3000)
NEXTAUTH_URL="http://localhost:3000"
